.nav {
    grid-area: n;
    background-color: blue;
    padding: 20px;

    &__friends {
        display: flex;
        padding: 0 30px 0 0;

        &__title {
            font-size: 30px;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}